<!DOCTYPE html>
<head>
   <title>Server RPi</title>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
   <h1><center>RPi Web Comand Server</center></h1>
  <div class="row">
       <div class="col-xs-2 col-xs-offset-0">
            <a href="/left"class="btn btn-block btn-lg btn-primary" role="button">Left</a>
            <a href="/right"class="btn btn-block btn-lg btn-primary" role="button">Right</a>
            <a href="/accelerer"class="btn btn-block btn-lg btn-primary" role="button">Accelerate</a>
  	        <a href="/decelerer"class="btn btn-block btn-lg btn-primary" role="button">Decelerate</a>            
            <a href="/retreat"class="btn btn-block btn-lg btn-primary" role="button">Retreat</a>
       </div>
       <div class="col-xs-2 col-xs-offset-8">
            <a class="btn btn-block btn-lg btn-primary" role="button">Start-Stream</a>
            <a hrep="/cam_right"class="btn btn-block btn-lg btn-primary" role="button">Cam-Right</a>
            <a href="/cam_left"class="btn btn-block btn-lg btn-primary" role="button">Cam-Left</a>
            <a class="btn btn-block btn-lg btn-primary" role="button">Stop-Stream</a>
       </div>
  </div>
  <div class="row">
       <div class="col-xs-2 col-xs-offset-4">
            <a href="/start"class="btn btn-block btn-lg btn-primary" role="button">Start</a> 
       </div>
       <div class="col-xs-2 col-xs-offset-0">
            <a href="/stop"class="btn btn-block btn-lg btn-primary" role="button">Stop</a> 
       </div>
       
    </div>
    
    <div class ="row">
	

    </div> 
</body>
</html>


